/*CSS general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root {
    --white_bg: #fffffe;
    --pink: #e32064;
    --purple: #3c323f;
    --black: #0f0e17;
    --white: #f3ffff;
    --blue: #3587d4;
}

/*CSS body*/

body {
    background-color: var(--white_bg);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 2rem;
    border: 2px solid black;
    height: 500px;
}

header > h1 {
    color: var(--pink);
}

header p {
    color: var(--purple);
    margin-top: 2.5rem;
    padding-left: 2rem;
}

.center_header {
    text-align: center;
}

.box {
    width: 20.9rem;
    height: 5rem;
    margin-top: 2.5rem;
    border: 2px solid black;
    float: left;
}

.clear .left {
    margin-left: 1rem;
}

.clear .center {
    margin-left: 5rem;
}

.clear .right {
    margin-left: 5rem;
}

main > .clear {
    content: '';
    display: table;
    clear: both;
    margin-left: 1rem;
}