/*CSS general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root {
    --white_bg: #fffffe;
    --pink: #e32064;
    --purple: #3c323f;
    --black: #0f0e17;
    --white: #f3ffff;
    --blue: #3587d4;
}

/*CSS body*/

body {
    background-color: var(--white_bg);
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    margin-top: 2rem;
    border: 2px solid black;
    height: 500px;
}

header > h1 {
    color: var(--pink);
}

header p {
    color: var(--purple);
    margin-top: 2.5rem;
}

.center {
    text-align: center;
}